<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.likrill.hoops"
        versionCode = "10" 
        version     = "4.1.1" >

    <!-- versionCode is optional and Android only -->

    <name>Hoops</name>

    <description>
        Find basketball games in your area!
    </description>

    <author email="kristian.lundstrom@gmail.com">
        Yang Li and Kristian Lundström
    </author>

    <!-- preferences -->
    <preference name="fullscreen" value="true" /> 
    <gap:splash src="splash.png"/>

    <!-- platforms -->
    <gap:platform name="ios" />
    <gap:platform name="android" />


</widget>
